<div class="home">
  <div class="nav-box nav-what-if" ng-click="ctrl.go('whatIf')">
    <div class="nav-box-inner">
      <h1>What If?</h1>
      <p>What would you do if you had more time?</p>
    </div>
  </div>
  <div class="nav-box nav-products" ng-click="ctrl.go('products')">
    <div class="nav-box-inner">
      <h1>Products</h1>
      <p>What kind of products do you like?</p>
    </div>
  </div>
  <div class="nav-box nav-company" ng-click="ctrl.go('company')">
    <div class="nav-box-inner">
      <h1>Company</h1>
      <p>What it takes to retire with a traditional job</p>
    </div>
  </div>
  <div class="nav-box nav-opportunity" ng-click="ctrl.go('opportunity')">
    <div class="nav-box-inner">
      <h1>Opportunity</h1>
      <p>Explore the opportunity of a lifetime</p>
    </div>
  </div>
</div>