<div class="main-navigation home">
  <span><img width="94" src="/img/ardrops_logo_sm.png"></span>
</div>
<div class="home">
  <div class="nav-box nav-what-if" ng-click="ctrl.go('whatIf')">
    <div class="nav-box-inner">
      <h1>What If?</h1>
      <h4>What would you do if you had more time?</h4>
    </div>
  </div>
  <div class="nav-box nav-products" ng-click="ctrl.go('products')">
    <div class="nav-box-inner">
      <h1>Products</h1>
      <h4>What kind of products do you like?</h4>
    </div>
  </div>
  <div class="nav-box nav-company" ng-click="ctrl.go('company')">
    <div class="nav-box-inner">
      <h1>Company</h1>
      <h4>What it takes to retire with a traditional job</h4>
    </div>
  </div>
  <div class="nav-box nav-opportunity" ng-click="ctrl.go('opportunity')">
    <div class="nav-box-inner">
      <h1>Opportunity</h1>
      <h4>Explore the opportunity of a lifetime</h4>
    </div>
  </div>
</div>