<navigation></navigation>
<div class="what-if page-content" ng-swipe-left="go('products')">
    <div class="title-image what-if">
        <div class="banner-video">
            <canvid name="what-if-video" src="video/WhatIf.jpg" frames="143" cols="6">
        </div>
        <div class="text">
            <h1>What If?</h1>
        </div>
    </div>
    <div class="content-section txt-center">
        <h2>What would you do if you had more time?</h2>
        <div class="survey-questions wrapper">
            <div class="survey-question" ng-repeat="question in questions track by $index" ng-click="toggleChecked(question)">
                <div class="survey-question-inner">
                    <span class="q-icon"><i class="icon" ng-class="question.icon"></i></span>
                    <div class="q-label"><span>{{question.label}}</span></div>
                    <span class="q-check"><i class="icon" ng-class="{'checked' : question.checked, 'check' : !question.checked}"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-image freedom">
    </div>
    <div class="content-section txt-center">
        <div class="wrapper">
            <h2>Freedom</h2>
            <p>Think of all the possibilities and let those dreams take you away again. It's time to grab hold and never let go.</p>
        </div>
    </div>
</div>
<subnavigation></subnavigation>