body {
	font-family: 'Quicksand', Arial, Helvetica, sans-serif;
	font-weight: 400;
	color: #3a3e40;
}
i {
	font-style: normal;
}
h1 { 
	font-size: 42px; 
	font-weight: 400;
}
h2 { 
	font-size: 30px;
	font-weight: 400;
}
h3 {
	font-size: 20px;
	font-weight: 400;
}
h4 {
	font-size: 18px;
	font-weight: 400;
}
h5 {
	font-size: 12px;
	font-weight: 400;
	margin: 0;
}
.layout-row {
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
}
.layout-column {
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
}
.txt-center {
	text-align: center;
}
.main {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.intro {
	height: 100%;
	width: 100%;
	box-shadow: inset 0 0 500px 0px #e7eef4;
	display: -webkit-flex;
	display: flex;
	webkit-align-items: center;
	align-items: center;
	webkit-align-content: center;
}
navigation {
	position: relative;
	display: block;
	background: #fff;
	width: 100%;
	height: 60px;
}
navigation .icon {
	&.four {
		margin-right: 10px;
	}
	&.notes {
		margin-left: 10px;
	}
}
navigation .audio-controls {
	display: -webkit-flex;
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
}
.audio-controls > span {
	width: 48px;
	height: 48px;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
}
.audio-controls .track-time {
	width: 60px;
	margin-right: -60px;
	text-align: right;
	font-size: 12px;
}
.main-navigation {
	position: relative;
	display: -webkit-flex;
	display: flex;
	align-items: flex-end;
	padding: 5px 10px;
	z-index: 10;
	box-sizing: border-box;
}
.main-navigation.home {
	padding: 5px 0;
	text-align: center;
	height: 60px;
	box-sizing: border-box;
	align-items: flex-end;
	justify-content: center;
}
.main-navigation > span {
	display: -webkit-flex;
	display: flex;
	align-items: center;
	font-weight: 700;
	height: 48px;
}
.note-overlay {
	z-index: 9;
	background: rgba(255,255,255,0.9);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 60px 15px 15px;
	font-size: 25px;
}
.note-overlay h2 {
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
}
.note-overlay-inner {
	margin: 0 auto;
	width: 100%;
	max-width: 640px;
}
subnavigation {
	display: block;
	box-sizing: border-box;
	padding: 15px 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin: 45px 0;
}
.subnav {
	max-width: 640px;
	margin: 0 auto;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.subnav .item {
	display: block;
	position: relative;
	flex: 0 1 auto;
	border: 1px solid #ccc;
}
.subnav .item:after,
.subnav .item:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: none;
}
.subnav .item:before {
	background-size: auto 40%;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 2;
}
.subnav .item:after {
	background-color: rgba(30,129,186,0.9);
	z-index: 1;
}
.subnav .item:nth-child(1):before {
	content: '';
	background-image: url('/img/num_1.png');
}
.subnav .item:nth-child(2):before {
	content: '';
	background-image: url('/img/num_2.png');
}
.subnav .item:nth-child(3):before {
	content: '';
	background-image: url('/img/num_3.png');
}
.subnav .item:nth-child(4):before {
	content: '';
	background-image: url('/img/num_4.png');
}
.subnav .item.current:after,
.subnav .item.current:before {
	display: block;
}
.intro-content {
	flex: 1;
	align-self: center;
}
.intro-logo {
	display: block;
	width: 54%;
	max-width: 853px;
	margin: 0 auto 30px;
}
.select-narrator {
	text-transform: uppercase;
	font-family: 'Open Sans', Arial, sans-serif;
	text-align: center;
}
.select-narrator h4 {
	font-weight: 400;
	margin: 0 auto 15px;
}
.icon {
	display: block;
	background-size: 100%;
	background-repeat: no-repeat;
	overflow: hidden;
}
.select-narrator .icon {
	width: 78px;
	height: 78px;
	background-image: url(/img/narrators.png);

	&.male {
		background-position: 0 0;
	}
	&.female {
		background-position: 0 -78px;
	}
	&.none {
		background-position: 0 -156px;
	}
}
.icon.four {
	width: 23px;
	height: 23px;
	background-image: url(/img/icon_home.png);
}
.icon.notes {
	width: 30px;
	height: 23px;
	background-image: url(/img/icon_notes.png);
}
.audio-controls .icon {
	background-image: url(/img/audio_controls.png);
	width: 20px;
	height: 16px;

	&.rewind {
		background-position: 0 0;
	}
	&.play {
		background-position: 0 -16px;
	}
	&.pause {
		background-position: 0 -32px;
	}
	&.forward {
		background-position: 0 -48px;
	}
}
.survey-question .icon {
	width: 40px;
	height: 50px;
	background-image: url(/img/icon_whatif_survey.png);

	&.family {
		background-position: 0 0;
	}
	&.alarm {
		background-positoin: 0 -50px;
	}
	&.wallet {
		background-position: 0 -100px;
	}
	&.plane {
		background-position: 0 -150px;
	}
	&.heart {
		background-position: 0 -200px;
	}
	&.golf {
		background-position: 0 -250px;
	}
	&.check {
		background-position: 0 -300px;
	}
	&.checked {
		background-position: 0 -350px;
	}
}
.select-narrator .layout-row {
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 300px;
	margin: 0 auto;
}
.select-narrator span {
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 0 15px;
	width: 33.3%;
}
.home {
	height: 100%;
	width: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}
.home .nav-box {
	width: 50%;
	height: 50%;
	display: -webkit-flex;
	display: flex;
	position: relative;
	background-position: 50% 50%;
	background-size: auto 100%;
	background-repeat: no-repeat;
	color: rgba(255,255,255,0.8);
}

.home .nav-box:hover:before {
	background-color: rgba(30,129,186,0.9 );
}

.home .nav-box:hover {
	color: #fff;
}

.home .nav-box:before,
.home .nav-box:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.home .nav-box:before {
	z-index: 2;
	background-size: auto 30%;
}

.home .nav-box:after {
	background-color: rgba(10, 125, 186, 0.65);
	z-index: 1;
}

.home .nav-box-inner {
	position: relative;
	z-index: 3;
	flex: 1;
	align-self: center;
	text-align: center;
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.home .nav-box-inner h1 {
	margin: 0 0 15px;
	text-transform: uppercase;
	letter-spacing: 0.075em;
}

.home .nav-box-inner h4 {
	margin: 0 auto;
	max-width: 230px;
}

.home .nav-what-if {
	background-image: url(/img/01-WhatIf.jpg);
}

.home .nav-what-if:before {
	box-shadow: inset -1px -1px 0 -0.5px #fff; 
	background-image: url(/img/num_1.png);
}

.home .nav-products {
	background-image: url(/img/02-Products.jpg);
}

.home .nav-products:before {
	box-shadow: inset 1px -1px 0 -0.5px #fff;
	background-image: url(/img/num_2.png);
}

.home .nav-company {
	background-image: url(/img/03-Company.jpg);
}

.home .nav-company:before {
	box-shadow: inset -1px 1px 0 -0.5px #fff;
	background-image: url(/img/num_3.png);
}

.home .nav-opportunity {
	background-image: url(/img/04-Opportunity.jpg);
}

.home .nav-opportunity:before {
	box-shadow: inset 1px 1px 0 -0.5px #fff;
	background-image: url(/img/num_4.png);
}
.title-image {
	height: 320px;
}
.title-image, .hero-image {
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: auto;
	display: webkit-flex;
	display: flex;
	align-items: center;
	position: relative;
}

.title-image.what-if:before {
	content: '';
	background: rgba(0,0,0,0.1);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.title-image h1 {
	text-align: center;
	font-weight: 400;
	color: #fff;
	font-size: 50px;
	letter-spacing: 0.075em;
	text-transform: uppercase;
	flex: 1;
	align-self: center;
	text-shadow: 0px 0px 3px rgba(0,0,0,0.8);
}

.title-image.what-if {
	background-image: url('/img/01-WhatIf.jpg');
}

.hero-image.what-if:before {
	content: '';
	background: rgba(0,0,0,0.1);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.hero-image.freedom {
	background-image: url('/img/101031143.jpg');
}

.hero-image.products {
	background-image: url('/img/02-Products.jpg');
	background-size: cover;
	background-color: #bababa;
}

.hero-image.samples {
	background-image: url('/img/product_samples.jpg');
	background-size: contain;
}

.hero-image.company {
	background-image: url('/img/03-Company.jpg');
	background-size: cover;
}

.hero-image.building {
	background-image: url('/img/shutterstock_211959382.jpg');
	background-size: cover;
}

.hero-image.opportunity {
	background-image: url('/img/04-Opportunity.jpg');
	background-size: cover;
}

.content-section {
	padding: 45px 0;
}

.content-section .wrapper {
	max-width: 640px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.survey-questions {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap; 
}

.survey-question {
	flex: 1 50%;
	padding: 10px;
	box-sizing: border-box;
}

.survey-question-inner {
	display: -webkit-flex;
	display: flex;
	background: #edeff5;
	border-radius: 3px;
	overflow: hidden;
}

.survey-question .q-icon {
	background: #f4f6fb;
	flex: 0 0 auto;
	border-right: 1px solid #fff;
	margin-right: -1px;
	align-self: center;
}

.survey-question .q-label {
	display: -webkit-flex;
	display: flex;
	flex: 1 1 auto;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
}

.survey-question .q-label span {
	align-self: center;
	box-sizing: border-box;
	padding: 0 10px;
}

.survey-question .q-check {
	display: -webkit-flex;
	display: flex;
	flex: 0 0 auto;
	margin-left: -1px;
}

.survey-question .q-check i {
	align-self: center;
}

.survey-question-inner > span {
	display: block;
	padding: 0 5px;
	font-size: 18px;
}

.rating-question-inner {
	text-align: left;
}

.rating {
	display: -webkit-flex;
	display: flex;
	background-color: #edeff5;
	border-radius: 3px;
	overflow: hidden;
}

.rating > div {
	flex: 1 1 auto;
	line-height: 45px;
	cursor: pointer;
	text-align: center;
}

.rating .filled {
	background-color: #1e81ba;
	color: #fff;
}

.rating-question h3 {
	margin: 30px 0 15px;
	display: -webkit-flex;
	display: flex;
	align-items: center;
}

.calculator.wrapper {
	max-width: 740px;
}

.calculator-labels h3 {
	flex: 1 1 auto;
	align-items: center;
	margin: 30px 0 15px;
	max-width: 33.3%;
	text-transform: uppercase;
	font-size: 18px;
}

.rating-question .icon, .company .icon {
	flex: 0 0 auto;
	display: inline-block;
	margin-right: 10px;
}

.retirement-calculator {
	display: -webkit-flex;
	display: flex;
	align-items: stretch;
}

.retirement-calculator .layout-column {
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	max-width: 33.3%;
}

.retirement-calculator h3 {
	text-transform: uppercase;
	text-align: left;
}

.retirement-calculator button {
	display: block;
	margin: 0 5px 5px;
	background-color: #edeff5;
	color: #000;
	border: none;
	line-height: 45px;
	font-size: 20px;
	font-family: 'Quicksand', Arial, sans-serif;
	border-radius: 3px;

	&.active {
		background-color: #1e81ba;
		color: #fff;
	}
}
.retirement-calculator .layout-column:nth-child(3){
	padding: 0 5px 5px;
}
.in-the-bank {
	display: flex;
	align-items: center;
	flex: 1 1 auto;
	justify-content: center;
	align-self: center;
	font-size: 30px;
	font-weight: 700;
	border: 1px solid #ccc;
	width: 100%;;
}

.contact-form input {
	background-color: #edeff5;
	line-height: 30px;
	border: none;
	margin: 0 0 15px;
	padding: 5px 15px;
	font-family: 'Quicksand', Arial, sans-serif;
	font-size: 20px;
	border-radius: 3px;
}

.contact-form button {
	border: none;
	background-color: #1e81ba;
	color: #fff;
	font-family: 'Quicksand';
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 30px;
	padding: 5px;
	text-align: center;
	border-radius: 3px;
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
}

.success-message {
	text-align: center;
	padding: 45px 0;
}

.success-message h1 {
	text-transform: uppercase;
	color: #1e81ba;
	font-weight: 700;
}

@media (max-width: 960px){
	.hero-image {
		background-size: auto 100%;
	}
}